@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #155dfc;
  --hover-color: #10388f;
  --secondary-color: #656d7b;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Utility Classes*/

.d-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

/*NavBar*/
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 70px;
  margin: 0 auto;
  padding: 0px 10%;
  border-bottom: 2px solid #656d7b22;
  transition: 0.3s all ease;
}

.navbar.scrolled {
  height: 80px;
}

.logo {
  font-weight: 600;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.home-btn {
  background-color: var(--primary-color);
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 1.05em;
  border-radius: 12px;
  transition: 0.2s all ease;
  cursor: pointer;
}

.home-btn:hover {
  background-color: var(--hover-color);
}

.cart {
  font-size: 1.5em;
  color: var(--primary-color);
}
/* Navbar End */
/*Main */
.main {
  display: flex;
  gap: 30px;
  width: 80%;
  height: 90vh;
  margin: 20px auto 0px auto;
}

.product-images {
  width: 50%;
}

.product-details {
  width: 50%;
}

.main-image1 {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}

.secondary-images {
  width: 100%;
  height: 30%;
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.secondary-image1,
.secondary-image2,
.secondary-image3 {
  object-fit: cover;
  height: 100%;
  width: 33.33%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.rating-stars {
  height: 15px;
}

.review-count {
  color: var(--secondary-color);
}

.prices {
  margin-top: 15px;
}

.price {
  color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: 700;
}

.old-price {
  color: var(--secondary-color);
  text-decoration: line-through;
}

.product-description {
  margin-top: 15px;
  font-size: 0.8rem;
  color: var(--secondary-color);
}

ul {
  list-style-type: none;
}

li {
  margin-top: 8px;
  font-size: 0.8rem;
  color: var(--secondary-color);
}

.mark {
  color: #05c954;
}

.features {
  margin-top: 10px;
}

.quantity-selector {
  margin-top: 10px;
}

.add-to-cart {
  margin-top: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 20px;
  width: 40%;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.2s all ease;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: var(--hover-color);
}

/* Main End */

/* Customer Reviews Section start */

.customer-reviews {
  font-size: 1.2em;
  width: 80%;
  margin: 0px auto 50px auto;
}

.review-block {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.126);
  padding: 10px 20px;
}

.rating {
  color: var(--secondary-color);
  font-size: 0.8rem;
}

.reviewer-name {
  color: var(--primary-color);
}

/* Customer Reviews Section End */
